*{
    margin: 0px;
    padding: 0px;
}

/*Website Navigation */

nav{
    width: 100%;
    height: 50px;
    background-color: cadetblue;
    text-align: center;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 5px 10px;
    font-size: 20px;
    
}

/* flex container */
#container{
    display: flex;

    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;

    height: 170px;
    background-color: blue;
}

/* flex items */
#container div{
    border: 3px black solid;
    background-color: antiquewhite;
    margin: 15px;
    padding: 15px;
    text-align: center;
}

/* When hovering over a flex item */
#container > div:hover{
    border: 5px yellowgreen solid;
    flex-basis: 550px;
    align-self:flex-end;
}

table{
    width: 75%;
    height: 50px;
    border: solid;
    background-color: bisque;
}

img{
    float: right;
    margin: 25px;
}

#border{
    border: solid greenyellow 2px;
    position: relative;
    height: 80px;
    width: 450px;
    margin: 0px 25px;
}

#sologan{
    position: absolute;
    left: 40px;
    top: 25px;
    font-style: italic;

}

h1, h2{
    text-align: center;
}

#info{
    padding: 50px;
    font-size: 20px;
}

footer{
    background-color: brown;
    color: antiquewhite;
    position: absolute;
    bottom: 0px;
    height: 100px;
    width: 100%;
    text-align: center;
}