

*{
    background-color: #993300;
    color: #ffffff;
}

h1, h2, h3{
    text-align: center;
    color: #cc9900;
}

h1{
  font-family: "Pirata One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
}

h2{
    font-family: "Pirata One", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 65px;
}

h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

div{
    font-size: 18px;
    margin-left: 25px;
    margin-right: 25px;
}

span{
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-weight: bold;
    color: #000000;
    background-color: #ffff00;
}

#float_left_image{
    float: left;
    margin: 25px;
}

#float_right_image{
    float: right;
    margin: 25px;
}

.border{
    border-style: solid;
    padding: 20px;
    border-radius: 25px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.movie_summary{
    text-align: justify;
    font-size: 20px;
    border-style: solid;
    padding: 20px;
    border-radius: 25px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 4%;
    margin-bottom: 4%;
}

a:hover{
    background-color: #66ff66;
}