*{
    font-family: 'Times New Roman', Times, serif;
}

h1{
    border-style: solid;
    padding: 20px;
    text-align: center;
}

p{
    font-size: larger;
}

span{
    border-style: solid;
    padding: 5px;
    border-radius: 25px;
    background-color: aliceblue;
}