/* Applying styles to your entire web page */

body{
    background-color: #e5eaf5;
}

h1{
    text-align: center;
    padding: 20px;
    color: white;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

/* Applying styles using pseudoclasses (ie. link, visited, hover, active, etc) */

nav a:hover{
    border-bottom: solid 2px whitesmoke;
}

/* IDs (Applying styles by ID) */

#main-Page-Image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

#console-Images{
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;    
}

#important_info{
    font-weight: bold;
}

/* Classes (Applying styles by class) */

.customBackground{
    background-color: rgb(8, 66, 152);
}

.customBackground2{
    background-color: rgb(5, 44, 101);
}

.customBackground3{
    background-color: rgb(158, 197, 254);
}

.outline_around_textH1{
    border-style: solid black;
    background-color: black;
    border-radius: 25px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.outline_around_textH3{
    border-style: solid black;
    background-color: black;
    border-radius: 25px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 10px;
    color: white;
}

.page_text{
    text-align: justify;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.customContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.customContainer div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    border: black 3px solid;

    align-self: center;
}

.customContainer p{
    padding-top: 10px;
}

.text-center {
    text-align: center;
}

.input-section{
    position: relative;
    left: 25%;
}

.box{
    background-color: cadetblue;
    padding: 25px;
    margin-left: 10%;
    margin-right: 10%;
}

/* Your website should utilize the @media selector (for smartphones, tablets, and laptops) and set viewport appropriately for Responsive design (as discussed in Lesson 7). */
@media screen and (max-width: 600px) {
    /* Smartphone Screens */
    .page_text{
        text-align: justify;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    #main-Page-Image{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 400px;
    }

    #console-Images{
        filter: brightness(85%);
        filter: contrast(120%);
    }

    .input-section{
        position: relative;
        left: 10%;
    }

    .outline_around_textH1{
        border-style: solid black;
        background-color: black;
        border-radius: 25px;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .outline_around_textH3{
        border-style: solid black;
        background-color: black;
        border-radius: 25px;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 2%;
        margin-bottom: 2%;
        padding: 10px;
        color: white;
    }

}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    /* Tablet Screens */

    .page_text{
        text-align: justify;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    table{
        font-size: 25px;
    }

    ul{
        font-size: 25px;
    }

    h2{
        padding-left: 100px;
        padding-right: 100px;
        font-size: 40px;
    }

    p{
        font-size: 25px;
    }

    #main-Page-Image{
        transform: scale(1.1, 1.1);
    }

    #console-Images{
        filter: brightness(85%);
        filter: contrast(120%);
    }

    .input-section{
        position: relative;
        left: 10%;
    }

}

@media screen and (min-width: 1025px) {
    /* Laptop Screens */

    .customContainer div {
        width: 30%;
    }
}